<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <ul class="entry navigation" id="<%- item.id %>">
      <div style="text-align: center;font-size: 4rem;color: #a6d5fa;"><i class="fad fa-fan fa-spin fa-spin fa-fw" aria-hidden="true"></i></div>
    </ul>
  </div>
</section>
