<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_style %> <%- page.widget_platform %>">
  <%- partial('header', {item: item}) %>
  <div class='content'>
    <div class="webinfo">
      <div class="webinfo-item">
        <div>文章数目 :</div>
        <div><%= site.posts.length %> 篇</div>
      </div>
      <div class="webinfo-item">
        <div>已运行时间 :</div>
        <div id="webinfo-runtime-count" publish_date="03/24/2020 21:34:09"></div>
      </div>
      <script>
        var BirthDay = new Date(new Date('2018/03/15'));
        var today = new Date();
        var timeold = (today.getTime() - BirthDay.getTime());
        var daysold = Math.floor(timeold / (24 * 60 * 60 * 1000));
        document.getElementById('webinfo-runtime-count').innerHTML = daysold + ' 天';
      </script>
      <div class="webinfo-item">
        <div>本站总字数 :</div>
        <div><%= totalcount(site) %></div>
      </div>
      <div class="webinfo-item">
        <div>本站访客数 :</div>
        <div id="busuanzi_value_site_uv"><i class="fad fa-fan fa-spin fa-spin fa-fw" aria-hidden="true"></i></div>
      </div>
      <div class="webinfo-item">
        <div>本站总访问量 :</div>
        <div id="busuanzi_value_site_pv"><i class="fad fa-fan fa-spin fa-spin fa-fw" aria-hidden="true"></i></div>
      </div>
      <div class="webinfo-item">
        <div>最后活动日期 :</div>
        <div><%= date(Date.now()) %></div>
      </div>
    </div>
  </div>
</section>
